.env
uploads/
storage/temp/
*.log
*.exe

bin/
*.exe
.env
*.cookies.txt
storage/cookies/
uploads/
*.log

.env
*.env
storage/cookies/
*.cookies.txt
www.instagram.com_cookies.txt
bin/
*.exe
uploads/
*.log
